Repository wengtttw/label-studio-attempt-2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HumanSignal/devops, @hlomzik, @Gondragos, @nick-skriabin, @HumanSignal/fine-tuners, @HumanSignal/team-root

Example payload single and multiturn JSON
  example_payload_json/rename1_multiturn_phase4.json
  example_payload_json/rename1_singleturn_phase4.json
Owners: none

frontend logo changes and multiturn default changes to config
  label_studio/annotation_templates/omnix-eval/multi-turn/config.yml
  label_studio/core/static/icons/logo-black.svg
  label_studio/core/static/icons/logo-black_old.svg
  label_studio/core/static/icons/logo.svg
  label_studio/core/static/icons/logo_old.svg
  label_studio/users/templates/users/new-ui/user_base.html
  label_studio/users/templates/users/new-ui/user_signup.html
  label_studio/users/templates/users/user_base.html
  web/apps/labelstudio/src/assets/images/logo.svg
  web/apps/labelstudio/src/assets/images/logo_old.svg
  web/apps/labelstudio/src/components/Menubar/Menubar.jsx
  web/apps/labelstudio/src/pages/Home/HomePage.tsx
  web/apps/labelstudio/src/pages/Organization/PeoplePage/InviteLink.tsx
  web/apps/playground/src/components/PlaygroundApp/TopBar.tsx
  web/apps/playground/src/index.html
Owners: @HumanSignal/fine-tuners

Changes to single turn
  label_studio/annotation_templates/omnix-eval/single-turn/config.yml
Owners: none

Changes to front FAQ
  web/apps/labelstudio/src/components/HeidiTips/liveContent.json
Owners: none

more changes to FAQ
  web/apps/labelstudio/src/components/HeidiTips/liveContent.json
Owners: none

Removed hardcorded live URL
  Dockerfile
  label_studio/core/views.py
Owners: @HumanSignal/devops

Amended html title
  label_studio/templates/403.html
  label_studio/templates/404.html
  label_studio/templates/500.html
  label_studio/templates/base.html
  label_studio/templates/simple.html
Owners: none

.github/CODEOWNERS:

.github/                                    @HumanSignal/devops
deploy/                                     @HumanSignal/devops
Dockerfile*                                 @HumanSignal/devops
docker-compose*                             @HumanSignal/devops
docs/.npmignore                             @hlomzik @Gondragos @nick-skriabin
docs/package.json                           @hlomzik @Gondragos @nick-skriabin
docs/yarn.lock                              @hlomzik @Gondragos @nick-skriabin
web/libs/editor                             @hlomzik @Gondragos @nick-skriabin
web/tools                                   @HumanSignal/fine-tuners
web/libs/datamanager                        @HumanSignal/fine-tuners
web/design-tokens.json                      @HumanSignal/fine-tuners
web/libs/ui/**/tokens*                      @HumanSignal/fine-tuners
web/**/tailwind*                            @HumanSignal/fine-tuners
web/libs/editor/**/Audio*                   @HumanSignal/fine-tuners
web/libs/editor/**/Video*                   @HumanSignal/fine-tuners
web/libs/editor/**/TimeSeries*              @HumanSignal/fine-tuners
web/apps/labelstudio/src/pages/DataManager  @HumanSignal/fine-tuners
label_studio/data_manager                   @HumanSignal/fine-tuners
web/apps/playground                         @HumanSignal/fine-tuners
label_studio/**/migrations/*.py             @HumanSignal/team-root
