Repository wengtttw/label-studio-attempt-2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HumanSignal/devops, @hlomzik, @Gondragos, @nick-skriabin, @HumanSignal/fine-tuners, @HumanSignal/team-root

redirect works now for inactive user
  label_studio/core/middleware.py
  label_studio/core/settings/base.py
  label_studio/users/urls.py
Owners: none

fix display changes to match user roles in user/membership-info
  label_studio/core/settings/base.py
  web/libs/app-common/src/pages/AccountSettings/sections/MembershipInfo.tsx
Owners: none

Added showing or user roles in organization page
  web/apps/labelstudio/src/pages/Organization/PeoplePage/SelectedUser.jsx
Owners: none

got basic role changing set up - need to make sure if selected user is self cannot change role - update the display after role is changed
  label_studio/organizations/api.py
  label_studio/organizations/urls.py
  web/apps/labelstudio/src/config/ApiConfig.js
  web/apps/labelstudio/src/pages/Organization/PeoplePage/SelectedUser.jsx
Owners: none

added checks for owner and current user, also added refetch when updated
  web/apps/labelstudio/src/pages/Organization/PeoplePage/SelectedUser.jsx
Owners: none

Trying to add membership feature to project, if whole file breaks reroll to 'added checks...' commit
  label_studio/core/settings/base.py
  label_studio/data_export/api.py
  label_studio/data_export/apps.py
  label_studio/data_export/mixins.py
  label_studio/data_export/serializers.py
  label_studio/data_export/tests/test_api.py
  label_studio/io_storages/base_models.py
  label_studio/ml/api_connector.py
  label_studio/projects/api.py
  label_studio/projects/models.py
  label_studio/projects/serializers.py
  label_studio/projects/urls.py
  label_studio/tasks/functions.py
  label_studio/tests/tasks/test_functions.py
  label_studio/tests/utils.py
  poetry.lock
  pyproject.toml
  web/apps/labelstudio/src/config/ApiConfig.js
  web/apps/labelstudio/src/pages/Organization/PeoplePage/SelectedUser.jsx
  web/apps/labelstudio/src/pages/Settings/Membership.jsx
  web/apps/labelstudio/src/pages/Settings/SelectedUser.jsx
  web/apps/labelstudio/src/pages/Settings/index.jsx
Owners: none

management of user status in project now works, need to work on so that only valid users can access setting page of projects
  label_studio/projects/api.py
  label_studio/projects/serializers.py
  web/apps/labelstudio/src/config/ApiConfig.js
  web/apps/labelstudio/src/pages/Settings/SelectedUser.jsx
  web/apps/labelstudio/src/pages/Settings/SelectedUser.scss
  web/apps/labelstudio/src/pages/Settings/settings.scss
Owners: none

Role display fixes
  label_studio/projects/api.py
  label_studio/projects/serializers.py
  label_studio/users/api.py
  label_studio/users/serializers.py
  web/apps/labelstudio/src/pages/Settings/SelectedUser.jsx
Owners: none

added the templates for single and multi turn
  label_studio/annotation_templates/groups.txt
  label_studio/annotation_templates/omnix-eval/multi-turn/config.yml
  label_studio/annotation_templates/omnix-eval/single-turn/config.yml
  label_studio/core/static/templates/multi-turn.png
  label_studio/core/static/templates/single-turn.png
Owners: none

edited some template format
  label_studio/annotation_templates/omnix-eval/multi-turn/config.yml
  label_studio/annotation_templates/omnix-eval/single-turn/config.yml
Owners: none

added styling for project members interface
  web/apps/labelstudio/src/pages/Settings/Membership.jsx
  web/apps/labelstudio/src/pages/Settings/Membership.scss
  web/apps/labelstudio/src/pages/Settings/SelectedUser.jsx
Owners: none

added checks to ensure only owner and admin can create projects
  label_studio/projects/api.py
  web/apps/labelstudio/src/pages/Home/HomePage.tsx
  web/apps/labelstudio/src/pages/Projects/Projects.jsx
  web/apps/labelstudio/src/pages/Projects/ProjectsList.jsx
Owners: none

fixed project task count missing
  label_studio/projects/api.py
Owners: none

added some docker edits
  deploy/docker-entrypoint.d/app/11-configure-custom-cabundle.sh
  deploy/docker-entrypoint.d/app/20-wait-for-db.sh
  deploy/docker-entrypoint.d/app/30-run-db-migrations.sh
  deploy/docker-entrypoint.d/nginx/10-configure-nginx.sh
  docker-compose.prod.yml
  docker-compose.yml
  web/yarn.lock
Owners: @HumanSignal/devops

projectmembers can only access project when they are enabled
  label_studio/projects/api.py
  web/apps/labelstudio/src/providers/ApiProvider.tsx
Owners: none

made it so that docker container deploys on 8300, remove the db from compose.prod when trying put it on aws
  deploy/uwsgi.ini
  docker-compose.prod.yml
Owners: @HumanSignal/devops

added role restrictions checks when users are trying to access general settings page for projects.serializer Updated WHOIAM USER SERIALIZER to use UserSerializer to include the organisation role value
  docker-compose.prod.yml
  label_studio/core/settings/base.py
  label_studio/projects/views.py
  web/apps/labelstudio/src/pages/Settings/GeneralSettings.jsx
Owners: @HumanSignal/devops

Remove large tar file from commit and add to .gitignore
  .gitignore
Owners: none

added role checks for project settings, now only owner/admin can access project related settings
  web/apps/labelstudio/src/pages/Settings/AnnotationSettings.jsx
  web/apps/labelstudio/src/pages/Settings/DangerZone.jsx
  web/apps/labelstudio/src/pages/Settings/LabelingSettings.jsx
  web/apps/labelstudio/src/pages/Settings/MachineLearningSettings/MachineLearningSettings.jsx
  web/apps/labelstudio/src/pages/Settings/Membership.jsx
  web/apps/labelstudio/src/pages/Settings/PredictionsSettings/PredictionsSettings.jsx
  web/apps/labelstudio/src/pages/Settings/StorageSettings/StorageSettings.jsx
  web/apps/labelstudio/src/pages/WebhookPage/WebhookPage.jsx
Owners: none

Added checks to hide export import data buttons for projects when user is not admin/owner. Added checks to the eventhandlers for import and export
  web/apps/labelstudio/src/pages/DataManager/DataManager.jsx
  web/apps/labelstudio/src/pages/ExportPage/ExportPage.jsx
Owners: @HumanSignal/fine-tuners

updated the multi turn template
  label_studio/annotation_templates/omnix-eval/multi-turn/config.yml
  label_studio/core/settings/base.py
Owners: none

change the inactive user redirect logic abit
  label_studio/core/middleware.py
Owners: none

Improved DB query speed, amended visibility of UI for project addition
  Changelog.md
  README.md
  label_studio/organizations/models.py
  web/apps/labelstudio/src/pages/Settings/SelectedUser.jsx
Owners: none

Current working RBAC
  .gitignore
  Changelog.md
  deploy/docker-entrypoint.d/app/35-run-workspace-migrations.sh
  label_studio/core/settings/base.py
  label_studio/core/urls.py
  label_studio/core/utils/manifest_assets.py
  label_studio/core/views.py
  label_studio/projects/api.py
  label_studio/projects/migrations/0031_projectmember_deleted_at.py
  label_studio/projects/models.py
  label_studio/workplace_RBAC_extension/WORKSPACE_RBAC_IMPLEMENTATION_GUIDE.md
  label_studio/workplace_RBAC_extension/__init__.py
  label_studio/workplace_RBAC_extension/admin.py
  label_studio/workplace_RBAC_extension/api.py
  label_studio/workplace_RBAC_extension/apps.py
  label_studio/workplace_RBAC_extension/migrations/0001_initial.py
  label_studio/workplace_RBAC_extension/migrations/__init__.py
  label_studio/workplace_RBAC_extension/models.py
  label_studio/workplace_RBAC_extension/permissions.py
  label_studio/workplace_RBAC_extension/serializers.py
  label_studio/workplace_RBAC_extension/urls.py
  web/apps/labelstudio/src/components/Menubar/Menubar.jsx
  web/apps/labelstudio/src/components/Modal/Modal.jsx
  web/apps/labelstudio/src/config/ApiConfig.js
  web/apps/labelstudio/src/pages/Organization/PeoplePage/SelectedUser.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/AddMemberModal.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/AddProjectModal.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/CreateWorkspaceModal.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/FRONTEND_INTEGRATION.md
  web/apps/labelstudio/src/pages/Workspaces_extension/README.md
  web/apps/labelstudio/src/pages/Workspaces_extension/RemoveMemberModal.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspaceDetail.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspaceDetail.scss
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspacesList.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspacesPage.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspacesPage.scss
  web/apps/labelstudio/src/pages/Workspaces_extension/index.js
  web/apps/labelstudio/src/pages/index.js
  web/apps/labelstudio/src/providers/ProjectProvider.tsx
  web/apps/labelstudio/tsconfig.app.json
Owners: @HumanSignal/devops, @HumanSignal/team-root

Dockerfile changes for AWS EC2
  Dockerfile
Owners: @HumanSignal/devops

added adding of projects into workspace
  label_studio/projects/serializers.py
  web/apps/labelstudio/src/pages/Organization/Workspaces/WorkspaceProjectsModal.jsx
Owners: none

changes to JSOn and fixes for Project numbers
  label_studio/io_storages/base_models.py
  label_studio/projects/functions/__init__.py
Owners: none

- Added checks to disable some of the workspace buttons depending on the role of the logged in user
  label_studio/organizations/migrations/0008_organizationmember_org_member_lookup_idx_and_more.py
  label_studio/workplace_RBAC_extension/migrations/0002_rename_workspace_organiz_3c4d2e_idx_workspace_organiz_c01df0_idx_and_more.py
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspacesList.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspacesPage.jsx
Owners: @HumanSignal/team-root

Dockerfile changes for AWS EC2
  Dockerfile
Owners: @HumanSignal/devops

fixed the defined error export bug
  web/apps/labelstudio/src/pages/ExportPage/ExportPage.jsx
Owners: none

Resolved Export feature and fixed Legacy Token disappearance caused by DB
  .gitignore
  label_studio/core/settings/base.py
  web/apps/labelstudio/src/pages/ExportPage/ExportPage.jsx
Owners: none

Connection to RDS
  docker-compose.yml
Owners: @HumanSignal/devops

Connection to RDS
  docker-compose.yml
Owners: @HumanSignal/devops

Disabled Skip button during annotation tasks
  Changelog.md
  web/libs/editor/src/components/BottomBar/Controls.tsx
Owners: @hlomzik, @Gondragos, @nick-skriabin

remove default docker image
  docker-compose.yml
Owners: @HumanSignal/devops

yaml
  docker-compose.yml
Owners: @HumanSignal/devops

Workspace updates
  label_studio/workplace_RBAC_extension/api.py
Owners: none

- Edited the UI for workspace to visually disable the function buttons for non administrative roles
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspaceDetail.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspacesList.jsx
  web/apps/labelstudio/src/pages/Workspaces_extension/WorkspacesPage.jsx
Owners: none

Latest files
  NOTICE
  RBAC_ACCESS_CONTROL_MATRIX.md
Owners: none

updated multi turn template
  label_studio/annotation_templates/omnix-eval/multi-turn/config.yml
Owners: none

.github/CODEOWNERS:

.github/                                    @HumanSignal/devops
deploy/                                     @HumanSignal/devops
Dockerfile*                                 @HumanSignal/devops
docker-compose*                             @HumanSignal/devops
docs/.npmignore                             @hlomzik @Gondragos @nick-skriabin
docs/package.json                           @hlomzik @Gondragos @nick-skriabin
docs/yarn.lock                              @hlomzik @Gondragos @nick-skriabin
web/libs/editor                             @hlomzik @Gondragos @nick-skriabin
web/tools                                   @HumanSignal/fine-tuners
web/libs/datamanager                        @HumanSignal/fine-tuners
web/design-tokens.json                      @HumanSignal/fine-tuners
web/libs/ui/**/tokens*                      @HumanSignal/fine-tuners
web/**/tailwind*                            @HumanSignal/fine-tuners
web/libs/editor/**/Audio*                   @HumanSignal/fine-tuners
web/libs/editor/**/Video*                   @HumanSignal/fine-tuners
web/libs/editor/**/TimeSeries*              @HumanSignal/fine-tuners
web/apps/labelstudio/src/pages/DataManager  @HumanSignal/fine-tuners
label_studio/data_manager                   @HumanSignal/fine-tuners
web/apps/playground                         @HumanSignal/fine-tuners
label_studio/**/migrations/*.py             @HumanSignal/team-root
